recursive-include tests *.axe
recursive-include tests *.callgrind
recursive-include tests *.collapse
recursive-include tests *.txt
recursive-include tests *.callgrind
recursive-include tests *.pstats
recursive-include tests *.dtrace
recursive-include tests *.hprof
recursive-include tests *.json
recursive-include tests *.leaked.json
recursive-include tests *.maximum.json
recursive-include tests *.perf
recursive-include tests *.prof
recursive-include tests *.skorupski.prof
recursive-include tests *.pstats
recursive-include tests *.sleepy
recursive-include tests *.sysprof
recursive-include tests *.xperf
include tests/pstats/function-list.orig.txt
prune tests/pstats/function-list.testgen.txt
